# NeoVIM related
**/nvim/autoload/plug.vim
**/nvim/backup/
**/nvim/plugged/
**/nvim/undodir/
Session.vim
.netrwhist

# Tmux related
**/.tmux/resurrect

# Clipper related
**/clipper/.config/clipper/logs/*.log

# Xmonad
**/.xmonad/.stack-work
**/.xmonad/xmonad.state
**/.xmonad/xmonad.hi
**/.xmonad/xmonad.o
**/.xmonad/xmonad.errors
**/.xmonad/xmonad-x86_64-linux

# General
.DS_Store
