# NeoVIM related
**/nvim/autoload/plug.vim
**/nvim/backup/
**/nvim/plugged/
**/nvim/undodir/
Session.vim
.netrwhist

# Tmux related
**/.tmux/resurrect

# Clipper related
**/clipper/.config/clipper/logs/*.log

# General
.DS_Store
